
.css-1q1u3t4-MuiTableRow-root {
    padding: 8px ! important;
}

.css-1ex1afd-MuiTableCell-root{
    padding: 8px ! important;
}


.css-1ygcj2i-MuiTableCell-root{
     padding: 8px ! important;
}

.ant-layout-sider-children{
    overflow-y: auto;
}

.ant-layout-sider-children::-webkit-scrollbar {
    display: none;
  }